extends layout

block content
  h1= title
  p Welcome to #{title}

  #wrapper
    add-box(value="bug fixing")
    todo-list

  #blognewslist
  #TestApi1
    button#addBlogger addBlogger
  #TestApi2
    button#beginTasks beginTasks
  #TestApi3
    button#createJwt createJwt
  #TestApi4
    button#verifyJwt verifyJwt
  #TestApi5
    button#blognews blognews
  
  .formblock.mdl-card.mdl-shadow--2dp   
      form#form
          textarea#crawlerCode.mdl-textfield__input(rows="15")
          label.mdl-textfield__label(for="crawlerCode")  填入抓取代码...        
          .bw-new-picker
              div.mdl-selectfield   
                  label 选择抓取周期
                  select.browser-default
                    each type, i in ['天','小时','分钟']
                        option(value=i) #{type}
              .mdl-card__actions.mdl-card--border
                  input.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--colored(type="submit", value="提交")


  .addblogger
    .addblogger-button.bw-action-add.icon-add.mdl-button.mdl-js-button.mdl-button--fab
      i.material-icons add
