@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
html, body{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}
footer{
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
}
main{
  margin: 50px 15% 0% 15%;
}