<h1 md-dialog-title>登录</h1>
<form #form="ngForm" (ngSubmit)="form.form.valid && login()" novalidate class="form-horizontal" role="form">
  <div md-dialog-content>
    <md-input-container>
      <input name="username" #username="ngModel" md-input placeholder="用户名" [(ngModel)]="usermodel.username" required>
      <div *ngIf="form.submitted && !username.valid" class="text-danger">用户名必须输入！</div>
    </md-input-container>
    <md-input-container>
      <input name="password" #password="ngModel" md-input placeholder="密码" [(ngModel)]="usermodel.password" required>
      <div *ngIf="form.submitted && !password.valid" class="text-danger">密码必须输入！</div>
    </md-input-container>
  </div>
  <div class="submit-botton-group" md-dialog-actions>
    <button md-raised-button type="submit">提交</button>
    <button md-button (click)="dialogRef.close('0')">取消</button>
  </div>
</form>